{erl_opts, [debug_info]}.

{deps, [
    {jsx, "3.1.0"}               % JSON encoding/decoding
]}.

{plugins, [rebar3_proper]}.      % Property-based testing

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},   % Property-based testing
            {meck, "0.9.2"}      % Mocking
        ]}
    ]}
]}.

{shell, [
    {apps, [forthic]}
]}.
